#output{
    background-color: white;
    border-radius: 10px;
    border-top: 10px solid #aa4465;
    padding: 10px;
    float: none;
    text-align: left;
}

#player_1_name{
    font-size: 50px;
}

#player2_name{
    font-size: 50px;
}

